<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:insert="~{fragment/header :: header}"></div>
<div class="container" th:with="url=${#httpServletRequest.requestURI}">
    <h2 th:text="#{createNewArticle}" class="text-center my-3"></h2>
    <form th:action="${url}" th:method="post" th:object="${article}" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label" th:text="#{title}"></label>
            <input required id="title" type="text" name="title" th:value="*{title}" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label" th:text="#{description}"></label>
            <textarea required name="description" th:text="*{description}" class="form-control" rows="3"
                      id="description"></textarea>
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label" th:text="#{choosePhoto}"></label>
            <input name="file" class="form-control" accept="image/png, image/jpeg" type="file" id="formFile">
            <img th:src="${article.getImg()}" style="width: 300px; object-fit: cover; margin-top: 25px"/>
        </div>
        <button type="submit" class="btn btn-primary my-3" th:text="#{submit}"></button>
    </form>

</div>
</body>
</html>