<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:insert="~{fragment/header :: header}"></div>
<div class="container py-4">
    <div class="d-flex align-items-center">
        <a class="btn btn-primary" href="/create" th:text="#{createNewArticle}"></a>
        <a class="p-3" href="?lang=en" th:text="English"></a>
        <a class="p-3" href="?lang=km" th:text="Khmer"></a>
        <a class="p-3" href="?lang=kr" th:text="Korea"></a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" th:text="#{title}"></th>
            <th scope="col" th:text="#{description}"></th>
            <th scope="col" th:text="#{image}"></th>
            <th scope="col" th:text="#{action}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article, state: ${articles}">
            <td th:text="${articles[state.index].id}"></td>
            <td th:text="${articles[state.index].title}"></td>
            <td th:text="${articles[state.index].description}"></td>
            <td >
                <img th:src="${articles[state.index].getImg()}" style="width: 120px; object-fit: cover" />
            </td>
            <td>
                <a th:text="#{view}" class="btn btn-outline-primary"
                   th:href="${'/view/' + articles[state.index].id}"></a>
                <a th:text="#{edit}" class="btn btn-outline-warning"
                   th:href="${'/edit/' + articles[state.index].id}"></a>
                <form method="post" th:action="${'/delete/' + articles[state.index].id}">
                    <button th:text="#{delete}" class="btn btn-outline-danger"
                            type="submit"></button>

                </form>
            </td>
            <td>
                <div class="d-flex">

                </div>
            </td>

        </tr>
        </tbody>
    </table>

</div>
</body>
</html>